*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./img/background_1.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}

#back{
    display: block;
    position: relative;
}

header{
    color: white;
    text-align: center;
}

hr{
    margin-left: 20%;
    margin-right: 20%;
}

header h1{
    font-size: 60px;
}

#objetivos, #gameweb, #problema, #prototipo, #metodologia, #repositorio{
    font-size: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

p, li, h3{
    text-align: justify;
    color: white;
}

#img_proto, #img_proto a{
    width: 100%;
}